// ======================================================================================================
// $imports
// ======================================================================================================

// Twitter bootstrap inmports
@import "bootstrap-imports/bootstrap-normalize";
@import "bootstrap-imports/bootstrap-fluid-grid";
@import "bootstrap-imports/bootstrap-typography";
@import "bootstrap-imports/bootstrap-buttons";
@import "bootstrap-imports/bootstrap-tables";
@import "bootstrap-imports/bootstrap-code";
@import "bootstrap-imports/bootstrap-forms";
@import "bootstrap-imports/bootstrap-nav-tab-pill";
@import "bootstrap-imports/bootstrap-navbar";
@import "bootstrap-imports/bootstrap-pagination";
@import "bootstrap-imports/bootstrap-pager";
@import "bootstrap-imports/bootstrap-thumbnails";
@import "bootstrap-imports/bootstrap-breadcrumbs";
@import "bootstrap-imports/bootstrap-alert";
@import "bootstrap-imports/bootstrap-progress-bars";
@import "bootstrap-imports/bootstrap-hero-unit";


// ======================================================================================================
// $sanity / vanity styling
// ======================================================================================================

// ======================================================================================================
// $bootstraperize
// ======================================================================================================

header{
  @extend .navbar, .navbar-fixed-top;

  div{
    padding: 0 5%;
  }
}

nav{
  @extend .navbar-inner;
}

.wrap{
  width: 60%;
  margin: 100px auto 0;
}

.intro{
  @extend .hero-unit;
}

.learn-more{
  @extend .btn, .btn-primary, .btn-large;  
}

.marketing{
  @extend .row-fluid;

  div{
    @extend .span4;
  }

  a{
    @extend .btn;
  }
}

.logo{
  @extend .brand;
}

.nav-links{
  @extend .nav;
}
