@import "compass/css3";
@import "compass/reset";



// ======================================================================================================
// $bootstrap imports
// ======================================================================================================

@import "fluid-grid";



// ======================================================================================================
// $visablity / vanity styling
// ======================================================================================================

body{
  font: 1.2em/1.4 sans-serif;
  margin: 3em;
  color: hsl(0,0,40);
}

h1{
  font: bold 2em sans-serif;
  margin-bottom: .3em;
}

article,
ul,
div{
  padding: .5em 0;
}



// ======================================================================================================
// $include grid
// ======================================================================================================

.introduction{
  @extend .row-fluid;

  p{
    @extend .span4;
  }
}

.photos{
  @extend .row-fluid;

  img{
    @extend .span2;
  }
}

.selling-points{
  @extend .row-fluid;

  li{
    @extend .span3;
  }
}

.about{
  @extend .row-fluid;

  p{
    @extend .span6;
  }
}






