@import "compass/css3";
@import "compass/reset";

// ======================================================================================================
// $grid mixins (form twitter bootstrap responsive)
// ======================================================================================================

@mixin row-fluid {
  width: 100%;
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
} 

@mixin span{
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;

  &:first-child{
    margin-left: 0;
  } 
}

@mixin span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
@mixin span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
@mixin span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
@mixin span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
@mixin span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
@mixin span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
@mixin span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
@mixin span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
@mixin span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
@mixin span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
@mixin span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
@mixin span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}




// ======================================================================================================
// $visablity / vanity styling
// ======================================================================================================

body{
  font: 1.2em/1.4 sans-serif;
  margin: 3em;
  color: hsl(0,0,30);
}

h1{
  font: bold 2em sans-serif;
  margin-bottom: .3em;
}

article{
  padding: 1em 0;
  background-color: hsla(0,100,50,.2);
  margin-bottom: 1em;
}

p{
  background-color: hsla(200,100,50,.2);
}



// ======================================================================================================
// $include grid
// ======================================================================================================

article{
  @include row-fluid;
}

p{
  @include span;
}

.three p{
  @include span4;
}

.two p{
  @include span6;
}

.four p{
  @include span3;
}








