/* line 17, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/_fluid-grid.scss */
.row-fluid, .introduction, .photos, .selling-points, .about {
  width: 100%;
  *zoom: 1;
}
/* line 10, ../sass/_fluid-grid.scss */
.row-fluid:before, .introduction:before, .photos:before, .selling-points:before, .about:before, .row-fluid:after, .introduction:after, .photos:after, .selling-points:after, .about:after {
  display: table;
  content: "";
}
/* line 15, ../sass/_fluid-grid.scss */
.row-fluid:after, .introduction:after, .photos:after, .selling-points:after, .about:after {
  clear: both;
}

/* line 20, ../sass/_fluid-grid.scss */
.span1, .span2, .photos img, .span3, .selling-points li, .span4, .introduction p, .span5, .span5, .span6, .about p, .span7, .span8, .span9, .span10, .span11, .span12 {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
/* line 32, ../sass/_fluid-grid.scss */
.span1:first-child, .span2:first-child, .photos img:first-child, .span3:first-child, .selling-points li:first-child, .span4:first-child, .introduction p:first-child, .span5:first-child, .span5:first-child, .span6:first-child, .about p:first-child, .span7:first-child, .span8:first-child, .span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child {
  margin-left: 0;
}

/* line 37, ../sass/_fluid-grid.scss */
.span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

/* line 41, ../sass/_fluid-grid.scss */
.span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

/* line 45, ../sass/_fluid-grid.scss */
.span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

/* line 49, ../sass/_fluid-grid.scss */
.span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

/* line 53, ../sass/_fluid-grid.scss */
.span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

/* line 57, ../sass/_fluid-grid.scss */
.span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

/* line 61, ../sass/_fluid-grid.scss */
.span6, .about p {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

/* line 65, ../sass/_fluid-grid.scss */
.span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

/* line 69, ../sass/_fluid-grid.scss */
.span4, .introduction p {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

/* line 73, ../sass/_fluid-grid.scss */
.span3, .selling-points li {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

/* line 77, ../sass/_fluid-grid.scss */
.span2, .photos img {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

/* line 81, ../sass/_fluid-grid.scss */
.span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

/* line 18, ../sass/style.scss */
body {
  font: 1.2em/1.4 sans-serif;
  margin: 3em;
  color: #666666;
}

/* line 24, ../sass/style.scss */
h1 {
  font: bold 2em sans-serif;
  margin-bottom: .3em;
}

/* line 31, ../sass/style.scss */
article,
ul,
div {
  padding: .5em 0;
}
