/* line 5, ../sass/_normalize.scss */
.clearfix {
  *zoom: 1;
}

/* line 9, ../sass/_normalize.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

/* line 13, ../sass/_normalize.scss */
.clearfix:after {
  clear: both;
}

/* line 16, ../sass/_normalize.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 23, ../sass/_normalize.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 46, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 51, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 54, ../sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 59, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 65, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 69, ../sass/_normalize.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 75, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 78, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 81, ../sass/_normalize.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 87, ../sass/_normalize.scss */
#map_canvas img {
  max-width: none;
}

/* line 93, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 99, ../sass/_normalize.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 104, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 111, ../sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 115, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 122, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 125, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 5, ../sass/_fluid-grid.scss */
.row-fluid, .introduction, .photos, .selling-points, .about {
  width: 100%;
  *zoom: 1;
}
/* line 10, ../sass/_fluid-grid.scss */
.row-fluid:before, .introduction:before, .photos:before, .selling-points:before, .about:before, .row-fluid:after, .introduction:after, .photos:after, .selling-points:after, .about:after {
  display: table;
  content: "";
}
/* line 15, ../sass/_fluid-grid.scss */
.row-fluid:after, .introduction:after, .photos:after, .selling-points:after, .about:after {
  clear: both;
}

/* line 20, ../sass/_fluid-grid.scss */
.span1, .photos img, .span2, .span3, .selling-points li, .span4, .introduction p, .span5, .span5, .span6, .about p, .span7, .span8, .span9, .span10, .span11, .span12 {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
/* line 32, ../sass/_fluid-grid.scss */
.span1:first-child, .photos img:first-child, .span2:first-child, .span3:first-child, .selling-points li:first-child, .span4:first-child, .introduction p:first-child, .span5:first-child, .span5:first-child, .span6:first-child, .about p:first-child, .span7:first-child, .span8:first-child, .span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child {
  margin-left: 0;
}

/* line 37, ../sass/_fluid-grid.scss */
.span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

/* line 41, ../sass/_fluid-grid.scss */
.span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

/* line 45, ../sass/_fluid-grid.scss */
.span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

/* line 49, ../sass/_fluid-grid.scss */
.span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

/* line 53, ../sass/_fluid-grid.scss */
.span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

/* line 57, ../sass/_fluid-grid.scss */
.span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

/* line 61, ../sass/_fluid-grid.scss */
.span6, .about p {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

/* line 65, ../sass/_fluid-grid.scss */
.span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

/* line 69, ../sass/_fluid-grid.scss */
.span4, .introduction p {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

/* line 73, ../sass/_fluid-grid.scss */
.span3, .selling-points li {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

/* line 77, ../sass/_fluid-grid.scss */
.span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

/* line 81, ../sass/_fluid-grid.scss */
.span1, .photos img {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

/* line 19, ../sass/style.scss */
body {
  font: 1em/1.4 sans-serif;
  margin: 3em;
  color: #666666;
}

/* line 25, ../sass/style.scss */
h1 {
  font: bold 3em sans-serif;
  margin-bottom: .1em;
  color: #ff00aa;
}

/* line 33, ../sass/style.scss */
article,
ul,
div {
  padding: .5em 0;
}

/* line 88, ../sass/style.scss */
.help-button, .danger-button, .buy-button {
  text-decoration: none;
}

/* line 92, ../sass/style.scss */
.help-button {
  padding: .3em 1em;
  margin: 0 .2em;
  color: rgba(0, 0, 0, 0.8);
  background-color: #5de619;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7eeb47), color-stop(100%, #4bb814));
  background-image: -webkit-linear-gradient(#7eeb47, #4bb814);
  background-image: -moz-linear-gradient(#7eeb47, #4bb814);
  background-image: -o-linear-gradient(#7eeb47, #4bb814);
  background-image: -ms-linear-gradient(#7eeb47, #4bb814);
  background-image: linear-gradient(#7eeb47, #4bb814);
  border: 1px solid #388a0f;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
}

/* line 98, ../sass/style.scss */
.danger-button {
  padding: .3em 1em;
  margin: 0 .2em;
  color: rgba(0, 0, 0, 0.8);
  background-color: #cc0088;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff00aa), color-stop(100%, #990066));
  background-image: -webkit-linear-gradient(#ff00aa, #990066);
  background-image: -moz-linear-gradient(#ff00aa, #990066);
  background-image: -o-linear-gradient(#ff00aa, #990066);
  background-image: -ms-linear-gradient(#ff00aa, #990066);
  background-image: linear-gradient(#ff00aa, #990066);
  border: 1px solid #660044;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
}

/* line 104, ../sass/style.scss */
.buy-button {
  padding: .3em 1em;
  margin: 0 .2em;
  color: rgba(0, 0, 0, 0.8);
  background-color: #00aaff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33bbff), color-stop(100%, #0088cc));
  background-image: -webkit-linear-gradient(#33bbff, #0088cc);
  background-image: -moz-linear-gradient(#33bbff, #0088cc);
  background-image: -o-linear-gradient(#33bbff, #0088cc);
  background-image: -ms-linear-gradient(#33bbff, #0088cc);
  background-image: linear-gradient(#33bbff, #0088cc);
  border: 1px solid #006699;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
}
